body {
  -webkit-font-smoothing:antialiased;
     -moz-font-smoothing:antialiased;
          font-smoothing:antialiased;
  -webkit-box-sizing:border-box;
     -moz-box-sizing:border-box;
          box-sizing:border-box;
  font-family:'Roboto', 'Arial', sans-serif;
  font-size:16px;
  padding-top:120px !important;
  color:#fff;
  background-color:#649ec5;
}

/*******************
 * HEADER
 *******************/
header {
  position:fixed;
  z-index:100;
  top:0;
  left:0;
  right:0;
  padding:32px 0;
  background-color:#649ec5;
}
  header h1 {
    margin:0;
    line-height:24px;
    font-weight:bold;
    font-size:18px;
  }
  header h2 {
    margin:0;
    line-height:24px;
    font-size:18px;
  }

footer {
  padding:48px 0 96px;
  line-height:20px;
  font-size:14px;
  background-color:#649ec5;
}


/*******************
 * SECTION
 *******************/
section {
  padding:55px 0;
  background-color:#649ec5;
}
  section h3 {
    padding:0 0 8px;
    line-height:40px;
    font-weight:bold;
    font-size:32px;
    color:#fff;
  }
  section .lead {
    font-size:20px;
    color:#fff;
  }
  section p {
    margin-bottom:1em;
    color:#fff;
  }
  section p small {
    opacity:0.5;
    color:#fff;
  }
  section a,
  section a:hover {
    color:#fff59d;
  }

/*******************
 * INTRO SCREEN
 *******************/
.intro-screen,
.intro-screen header {
  background-color:#649ec5;
}
  .intro-screen h1,
  .intro-screen h2,
  .intro-screen h3 {
    color:#fff;
  }
  .intro-screen a,
  .intro-screen a:hover {
    color:#fff59d;
  }

/*******************
 * TRANSITIONS
 *******************/
 body,
 header {
   -webkit-transition:background-color 1.5s;
      -moz-transition:background-color 1.5s;
           transition:background-color 1.5s;
 }